<c-container>
    <c-row class="justify-content-center">
        <c-col md="8">
            <c-card-group>
                <c-card class="p-4">
                    <c-card-body>
                        <h3 class="text-center">{{profile.userName | uppercase}}</h3>
                        <p>First Name: {{profile.firstName}}</p>
                        <p>Last Name: {{profile.lastName}}</p>
                        <p>Email: {{profile.email}}</p>
                        <p>Phone: {{profile.phone}}</p>
                        <p>DOB: {{profile.dob}}</p>
                        <p>Address: {{profile.address}}</p>
                    </c-card-body>
                </c-card>
            </c-card-group>
        </c-col>
    </c-row>
</c-container>