<c-container>
  <c-row class="justify-content-center">
    <c-col lg="7" md="9" xl="6" *ngIf="!isSuccess">
      <c-card class="mx-4">
        <c-card-body class="p-4">
          <form cForm [formGroup]="searchForm">
            <h1>Search User</h1>

            <div class="form-group">
              <label class="form-label">User Name</label>
              <input type="text" class="form-control" formControlName="userName" />
            </div>
            <div class="form-group">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" />
            </div>
            <div class="form-group">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" />
            </div>
            <div class="form-group">
              <label class="form-label">DOB</label>
              <input type="date" class="form-control" formControlName="dob" />
            </div>
            <span *ngIf="isError" class="text-danger">{{errorMsg}}</span>
            <div class="d-grid mt-3">
              <button cButton color="success" (click)="search()">Search</button>
            </div>
          </form>
        </c-card-body>
      </c-card>
    </c-col>



  </c-row>
</c-container>
<div class="container">
  <div *ngIf="isSuccess">
    <div class="form-group">
      <button class="btn btn-primary btn-md" (click)="ngOnInit()">Back</button>
    </div>

    <div class="mt-3">
      <div class="row border border-dark" *ngIf="listUser!=null">
        <div class="col">User Name</div>
        <div class="col">First Name</div>
        <div class="col">Last Name</div>
        <div class="col">Address</div>
        <div class="col">Action</div>
      </div>
      <div class="row border border-dark" *ngFor="let user of listUser; index as i">
        <div class="col">{{user.userName | uppercase}}</div>
        <div class="col">{{user.firstName}}</div>
        <div class="col">{{user.lastName}}</div>
        <div class="col">{{user.address}}</div>
        <div class="col"><button (click)="downloadAudit(user.userName)">Audit</button></div>
        
      </div>
      <div *ngIf="listUser==null">
        <h2 class="text-center"> {{errorMsg | uppercase}} </h2>
      </div>
    </div>
  </div>
</div>