<c-container>
  <c-row class="justify-content-center">
    <c-col lg="7" md="9" xl="6" *ngIf="!isSuccess">
      <c-card class="mx-4">
        <c-card-body class="p-4">
          <form cForm [formGroup]="searchForm">
            <h1>Search User</h1>

            <div class="form-group">
              <label class="form-label">User Name</label>
              <input type="text" class="form-control" formControlName="userName" />
            </div>
            <div class="form-group">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" />
            </div>
            <div class="form-group">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" />
            </div>
            <div class="form-group">
              <label class="form-label">DOB</label>
              <input type="date" class="form-control" formControlName="dob" />
            </div>
            <span *ngIf="isError" class="text-danger">{{errorMsg}}</span>
            <div class="d-grid mt-3">
              <button cButton color="success" (click)="search()">Search</button>
            </div>
          </form>
        </c-card-body>
      </c-card>
    </c-col>



  </c-row>
</c-container>
<div class="container">
  <div *ngIf="isSuccess">
    <div class="form-group">
      <button class="btn btn-primary btn-md" (click)="ngOnInit()">Back</button>
    </div>

    <div class="row mt-3">
      <div class="col-md-2 border border-dark" *ngFor="let user of listUser; index as i">
        <a>
          <!-- <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{user.userName | uppercase}}</h4>
            <p>First Name : {{user.firstName}}</p>
            <p>Last Name : {{user.lastName}}</p>
            <p>Address : {{user.address}}</p>
          </div>
        </div> -->
          <h4>{{user.userName | uppercase}}</h4>
          <p>First Name : {{user.firstName}}</p>
          <p>Last Name : {{user.lastName}}</p>
          <p>Address : {{user.address}}</p>
        </a>
      </div>
      <div *ngIf="listUser==null">
        <h2 class="text-center"> {{errorMsg | uppercase}} </h2>
      </div>
    </div>
  </div>
</div>