<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <!-- <form cForm>
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>

              <div class="form-group">
                <label class="form-label" >User Name</label>
                <input type="text" class="form-control" name="userName"/>
              </div>
              <div class="form-group">
                <label class="form-label" >First Name</label>
                <input type="text" class="form-control" name="firstName"/>
              </div>
              <div class="form-group">
                <label class="form-label" >Last Name</label>
                <input type="text" class="form-control" name="lastName"/>
              </div>
              <div class="form-group">
                <label class="form-label" >Email</label>
                <input type="text" class="form-control" name="email" />
              </div>
              <div class="form-group">
                <label class="form-label" >Phone</label>
                <input type="text" class="form-control"  name="phone"/>
              </div>
              <div class="form-group">
                <label class="form-label" >DOB</label>
                <input type="date" class="form-control" name="dob"/>
              </div>
              <div class="form-group mb-4">
                <label class="form-label" >Address</label>
                <input type="text" class="form-control" name="address"/>
              </div>
              
              <div class="d-grid">
                <button cButton color="success">Register Account</button>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/login">
                  Back
                </button>
              </div>
            </form> -->
            <form cForm [formGroup]="regForm">
              <h1>Register</h1>
              <div class="form-group">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" formControlName="userName"
                  [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }" />

                <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
                  <div *ngIf="f['userName'].errors['required']">User Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstName" formControlName="firstName"
                  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                  <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastName" formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />

                <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                  <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="email" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />

                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" name="phone" formControlName="phone"
                  [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />

                <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                  <div *ngIf="f['phone'].errors['required']">Phone is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" type="password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />

                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label">DOB</label>
                <input type="date" class="form-control" name="dob" formControlName="dob"
                  [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />

                <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                  <div *ngIf="f['dob'].errors['required']">DOB is required</div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" name="address" formControlName="address"
                  [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />

                <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                  <div *ngIf="f['address'].errors['required']">Address is required</div>
                </div>
              </div>
              <span *ngIf="!isReg" class="text-danger">{{errorMsg}}</span>
              <div class="d-grid">
                <button cButton color="success" (click)="registerUser()">Register Account</button>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/login">
                  Back
                </button>
              </div>

            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>