<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="6">
          <c-card-group>
            <c-card >
              <c-card-body>
                <div>
                  <h2 class="text-center">Send Tamporary Password</h2>
                  <div class="form-group mb-4">
                    <label class="form-label" >Email</label>
                    <input type="text" class="form-control" name="email"/>
                  </div>
                  <button  cButton class="btn-success mt-3 text-center" color="primary">
                    Send
                  </button>
                  <button  cButton class="btn-primary mt-3 text-center ml-3" color="primary" routerLink="/login">
                    back
                  </button>
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  